@model TravelBlog.Models.GalleryItem

<h2>Czy na pewno chcesz usunąć ten element?</h2>

<div>
    <h4>Id: @Model.Id</h4>
    <h4>Tytuł: @Model.Title</h4>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Usuń</button>
</form>
