<!-- Etap II - Nagłówek & O mnie -->

<section>
    <div class="about-blog">
        <div class="about-blog__content">
            <header>
                <h1 class="about-blog__content-title">Life is a journey, stories are our mile markers</h1>
                <img src="./img/logoWhite.png" alt="white logo">
            </header>
            <div class="about-blog__content--welcome">
                <img src="./img/pexels-man-1.jpg" alt="Grzegorz Kowalski" class="about-blog__content--welcome-picture">
                <div class="about-blog__content--welcome-text">
                    <h2>
                        Hi. I’m Grzegorz Kowalski.
                        <br>Welcome to LAOS!
                    </h2>
                    <p>
                        Besides being one of my all-time favorite people in the world,
                        Jodi is also a damn amazing blogger who writes often about food
                        and culture. She devotes a lot of time to food on the road, taking
                        mouthwatering photos that make me jealous of her ability to do so.
                        A former lawyer, she also writes a series called “Thrillable Hours”
                        about other lawyers who gave up being a corporate lackey for life on the road.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Etap VI - O mnie więcej -->

<section id="aboutMe" class="about-me-container">
    <div class="about-me">
        <img src="./img/logo.png" alt="logo">
        <img src="./img/pexels-man-2.jpg" alt="logo" class="about-me-photo">
        <h3 class="about-me-photo-description">Grzegorz <span>kowalski</span></h3>
        <h2 class="about-me-title">hi!</h2>
        <p class="about-me-content">
            Besides being one of my all-time favorite people in the world, Jodi is
            also a damn amazing blogger who writes often about food and culture.
            She devotes a lot of time to food on the road, taking mouthwatering photos
            that make me jealous of her ability to do so. A former lawyer, she also
            writes a series called “Thrillable Hours” about other lawyers who gave up
            being a corporate lackey for life on the road. Besides being one of my all-tiut
            other lawyers who gave up being a corporate lackey for life on the road...
        </p>
        <p class="about-me-content">
            so. A former lawyer, she also writes a series called “Thrillable Hours” a
            bout other lawyers who gave up being a corporate lackey for life on the road.
            Besides being one of my all-tiut other lawyers who gave up being a corporate
            lackey for life on the road...so. A former lawyer, she also writes a series called
            “Thrillable Hours” about other lawyers who gave up being a corporate lackey for life
            on the road. Besides being one of my all-tiut other lawyers who gave up being
            a corporate lackey for life on the road...
        </p>
        <p class="about-me-signature">Grzegorz</p>
    </div>
</section>