@model TravelBlogDB1.Models.Email
@{
    ViewData["Title"] = "Kontakt";
}

<footer id="contact">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
    else
    {
        <form asp-action="Contact" method="post">
            <div class="input_box">
                <input name="Name" type="text" placeholder="Imię i nazwisko" class="form-name" required />
            </div>
            <div class="input_box">
                <input name="EmailAddress" type="email" placeholder="E-mail" class="form-email" required /> 
            </div>
            <div class="textarea_box">
                <textarea name="Message" placeholder="Wiadomość" required></textarea>
            </div>
            <button type="submit" class="form-button">wyślij</button>
        </form>
    }
    <div class="contact-and-social-media">
        <a href="mailto:grzegorz@theadventurerblog.pl" class="e-mail"></a>
        <a href="#" class="facebook"></a>
        <a href="#" class="twitter"></a>
        <a href="#" class="gplus"></a>
    </div>
</footer>
