<section id="gallery" class="gallery-container">
    <div class="gallery">
        @foreach (var item in Model)
        {
            <div class="gallery-box">
                <img src="@item.ImageUrl" alt="@item.Description" class="gallery-main-photo">
                <p class="main-gallery-photo-description">@item.Description</p>
                <div class="gallery-cover">
                    <img src="./img/galleryIcons.png" alt="gallery icon">
                </div>
            </div>
        }
    </div>
</section>
